@import url('welcome-page.css');
@font-face {
  font-family: 'BoutiqueBitmap';
  src: url('../assets/font/BoutiqueBitmap9x9_Bold_1.5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #111;
  color: white;
  font-family: 'BoutiqueBitmap', sans-serif;
}

canvas {
  display: block;
}